<template name="home">
  <div class="page home">

    {{>nav title='CarOsell' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.png" alt="CarOsell"/>
        </h1>
        <!-- <span class="hours"><span class="title&#45;callout">Hours</span> -->
        <!-- Mon–Fri 9&#45;6pm, Sat 10&#45;5pm</span> -->
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">News</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">On the Road</h2>
      <div class="list-subtitle">See the activities on the road</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No activities yet!</div>
            <div class="subtitle-message">Show cars today.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">On the Road</a>

      <h2 class="list-title">Hot Gears Right Now</h2>
      <div class="list-subtitle">Showing the best cars out there.</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">See More</a>
    </div>

  </div>
</template>
